table, tr, th, td {
                font-size: 24px;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 50%;
                border: 1px solid #dddddd;
               }
table {
    width: 50%;

}



